# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# My ignore list
.vscode
_bin
stories
.next
.env
out
build
*.bu.json
*.bu.css
*.bu.jsx
*.bu.js
*.bu.ts
*.bu.md
*.m4a
*.m4a.srt
*.m4a.txt
*.m4a.vtt
*.pem
*.crt
*.webm

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
