.container {
    position: relative;
    height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bar {
    position: relative;
    border-radius: 3px;
    background-color: #ccf7ff;
    background-image: linear-gradient(#ccf7ff, #00d8ff);
    /*background-color: #FFD167;
    background-image: linear-gradient(#FFD167, #FFA967);*/
    width: calc((100% - 9px)/8);
}