.container {
    /*background-color: #6985;*/
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1200;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    background-color: rgba(128, 128, 128, 0.1);
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
