body {
  background-color: #efefff;
  background-image: repeating-linear-gradient(0deg, transparent, transparent 9px, rgba(0, 0, 0, 0.2) 1px, transparent 10px), repeating-linear-gradient(90deg, transparent, transparent 9px, rgba(0, 0, 0, 0.2) 1px, transparent 10px);
  background-size: 10px 10px;
  margin: 0;
  padding: 0px;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "Meiryo", "メイリオ", "Osaka", "MS PGothic",'Helvetica Neue',
    sans-serif;*/
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.link {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a.link:hover {
  color: #535bf2;
}

@media (prefers-color-scheme: light) {
  a.link:hover {
    color: #747bff;
  }
}